body {
  background-color: #eef4fa;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
h1 {
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
}
form {
  display: flex;
}
form input {
  padding: 15px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  position: relative;
  left: -20px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border: 2px solid rgb(30, 73, 133);
  border-radius: 10px;
}
footer {
  color: #707072;
  font-size: 13px;
  text-align: center;
  margin: 40px;
}
a {
  color: rgb(30, 73, 133);
}
.container {
  margin: 100px;
}
.form-container {
  border-radius: 30px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  padding: 100px;
  max-width: 450px;
  display: block;
  margin: 0 auto;
  background-color: #fff;
}
.hint {
  font-size: 13px;
  color: rgb(30, 73, 133);
  font-weight: 300;
  margin-top: 30px;
  border-left: 2px solid rgb(30, 73, 133);
  padding: 10px;
  background-color: #eef4fa;
}
.poem {
  color: rgb(30, 73, 133);
}
.poem-write {
  width: 80%;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
}
.submit-button {
  cursor: pointer;
  background-color: rgb(30, 73, 133);
  border: none;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  color: white;
  line-height: 1.5;
  width: 100px;
  margin-left: 5px;
}

.poem-display {
  font-style: italic;
  text-align: center;
  display: block;
  margin: 70px auto;
  max-width: 150px;
  line-height: 34px;
  font-size: 15px;
  background-color: #fff;
  padding: 30px;
  border-right: 4px solid rgb(30, 73, 133);
  border-left: 4px solid rgb(30, 73, 133);
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
}
.hidden {
  display: none;
}
.generate {
  animation: blink-animation 0.5s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
